

<div class="col-lg-4 col-sm-12" style="height: 400px !important;">
  <div class="card">
      <div class="card-body">
        <span id="tc_count" class="mt-1"><center><b>Total TC Selected: 0</b></center></span>
          <div class="d-flex">
           
              <figure class="highcharts-figure col-sm-12 col-md-12 ">
                <div id="container" style="height: 250px;"></div>
        
                <h5>TC Report</h5>
                <table class="table table-bordered mt-2 table_border" id="tc_report">
                    <thead>
                      <tr>
                        <th scope="col">Total TC</th>
                        <th scope="col">Pass</th>
                        <th scope="col">Fail</th>
                        <th scope="col">No Run</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="total_tc_count" class="td_text_center">0</td>
                        <td id="total_pass_count" class="td_text_center">0</td>
                        <td id="total_fail_count" class="td_text_center">0</td>
                        <td id="no_run_count" class="td_text_center">0</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  <div>
                    <button class="btn btn-success"><a href="view_regression_details" class="hyperlink_text">View Regressions</a></button>
                    <!-- <button class="btn btn-success"><a href="send_mail" class="hyperlink_text">Send Mail</a></button> -->
                    
                </div>
                 
            </figure>
          </div>
      </div>
  </div><!--end card-->
  
</div><!--end col-->


