{% extends 'base.html' %}

{% block title %}Add Module Details{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="table-card table-card-statistics h-100">
            <div class="table-card-body">
                <div class="d-block d-md-flex justify-content-between alert alert-success">
                    <span class="fs-16 fst-italic">Edit Module Details</span>
                </div>

                <div class="p-3 regression_scroll_table div_shadow">
                    <form name="" action="/edit_modules_details/{{update_module_details[1]}}" method="post">

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="module" placeholder="Module Name" required value="{{update_module_details[2]}}"/>
                            </div>
                        </div>

                        

                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a href="/modules" class="btn btn-secondary">Cancel</a>
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
