
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Device Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-bordered mt-2">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center">Device Name</th>
                          <th scope="col" class="text-center">Device IP</th>
                          <th scope="col" class="text-center">Modal</th>
                          <th scope="col" class="text-center">Vendor</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if device_details %}
                        <tr>
                            <td class="text-center" id="device_details_vendor_tab1">{{device_details[0]}}</td>
                          <td class="text-center" id="device_details_name_tab1">{{device_details[1]}}</td>
                          <td class="text-center" id="device_details_ip_tab1">{{device_details[2]}}</td>
                          <td class="text-center" id="device_details_model_tab1">{{device_details[3]}}</td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
