{% extends 'base.html' %}

{% block content %}

            
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            
                                <button type="button" class="btn btn-primary" onclick="show_modal('exampleModal');" id="check_tc">Run</button>
                                <button type="button" id="stop"  class=" btn btn-primary" disabled>Stop</button>
                                <button type="button" id="clear_logs"  class=" btn btn-primary" disabled>Clear Logs</button>
                                
                            
                            <li class="menu-title" key="t-pages">Modules List</li>
                            <div class="scroll" id="module">    
                                <div class="form-check checkbox_font">
                                <input type="checkbox" class="form-check-input" id="select_module"> 
                                <label class="form-check-label" for="check1">Select Module</label>
                                </div>
                                <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input modules" name="modules[]" value="" id="module_1"> 
                                    <label class="form-check-label" for="check1">Module 1</label>
                                </div>
                                <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input modules" name="modules[]" value="" id="module_2"> 
                                    <label class="form-check-label" for="check1">Module 2</label>
                                </div> 
                                <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input modules" name="modules[]" value="" id="module_3"> 
                                    <label class="form-check-label" for="check1">Module 3</label>
                                </div>
                            </div>
                            
                            
                            <li class="menu-title" key="t-pages"></li>
                            <li class="menu-title" key="t-pages"></li>
                            <li class="menu-title" key="t-pages">TestCase List</li>
                            
                            <div  id="testcase_details" class="scroll" > 

                                <div class="form-check checkbox_font" style="display: none;" id="tc_select">
                                  <input type="checkbox" class="form-check-input" id="select_all" > 
                                  <label class="form-check-label" for="check1">Select All</label>
                                </div>
                                
                                <div id="show_module_1" style="display:none;">
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_1[]" value="TC_1"> 
                                    <label class="form-check-label truncate-cell" for="check1" 
                                    data-toggle="tooltip" data-placement="bottom" title="Module TC 1 run show clock command">TC_run show clock command</label>
                                  </div>
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_1[]" value="TC_2"> 
                                    <label class="form-check-label truncate-cell" for="check1" 
                                    data-toggle="tooltip" data-placement="bottom" title="Module TC 1 run show clock command">TC 1 run version</label>
                                  </div>
                        
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_1[]" value="TC_3"> 
                                    <label class="form-check-label  truncate-cell"  for="check1" data-toggle="tooltip" data-placement="bottom" title="Module TC 1 run show clock command">Happy TC</label>
                                  </div>
                        
                                  <!-- <div class="form-check">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_1[]" value="TC_3"> 
                                    <label class="form-check-label" for="check1" data-toggle="tooltip" data-placement="bottom" title="Module TC 1 run show clock command">TC 1</label>
                                  </div> -->
                                </div>
                                
                                <div id="show_module_2" style="display:none;">
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_2[]" value="TC_4"> 
                                    <label class="form-check-label" for="check1">Check CMTS Version</label>
                                  </div>
                        
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_2[]" value="TC_5"> 
                                    <label class="form-check-label" for="check1">Login SSH</label>
                                  </div> 
                        
                                 
                                </div> 
                  
                  
                                <div id="show_module_3" style="display:none;">
                                  <div class="form-check checkbox_font">
                                    <input type="checkbox" class="form-check-input testcases" name="testcase_module_3[]" value="TC_6"> 
                                    <label class="form-check-label" for="check1">Provisioning Check</label>
                                  </div>
                        
                                
                                 
                                </div> 
                            </div>
                          

                        </ul>
                        
                    </div>
                    <!-- Sidebar -->
                    
                </div>
            </div>
           
           
            <!-- Left Sidebar End -->

            

           {% include 'logs.html' %}

        </div>
        <!-- END layout-wrapper -->

    
        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>
        
        <!-- Add Regression Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="close_window('exampleModal')"></button>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control" placeholder="Enter Regression name" id="regression_name"/>
                  <input type="hidden" class="form-control" name="cmts_type" placeholder="Enter Regression name" id="" value="Arris"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="run" onclick="run_tc('exampleModal');">Save</button>
                </div>
              </div>
            </div>
        </div>
        
{% endblock %}