{% extends 'base.html' %}
{%block content%}

<div class="has-bg-img">
        <div class="bg-img bg-cover" style="background-image: url('/static/images/new_vodafone_1.png');
            height: 100vh;">

                <div class="page-content page_content_scroll">
                        <div class="container-fluid">
                                <div class="row">
                                        <div class="col-lg-4">
                                                <div class="card mini-stats-wid">
                                                        <div class="card-body alert alert-danger">
                                                                <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                                <p class="text-muted fw-medium f-18">
                                                                                        Total Regression
                                                                                </p>
                                                                                <h4 class="mb-0">
                                                                                        {{total_regression_count}}</h4>
                                                                        </div>

                                                                        <div class="flex-shrink-0 align-self-center">
                                                                                <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                                                        <i class="bx bxs-book-bookmark f-28"></i>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                        </div><!--end col-->

                                        <div class="col-lg-4">
                                                <div class="card mini-stats-wid">
                                                        <div class="card-body  alert alert-danger">
                                                                <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                                <p class="text-muted fw-medium f-18">CASA I-CMTS TC Count
                                                                                </p>
                                                                                <h4 class="mb-0">{{i_cmts_count}}</h4>
                                                                        </div>

                                                                        <div class="flex-shrink-0 align-self-center">
                                                                                <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                                                        <i class="bx bxs-book-bookmark f-28"></i>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                        </div><!--end col-->

                                        <div class="col-lg-4">
                                                <div class="card mini-stats-wid">
                                                        <div class="card-body alert alert-danger">
                                                                <div class="d-flex">
                                                                        <div class="flex-grow-1">
                                                                                <p class="text-muted fw-medium f-18">
                                                                                        Harmonic-CMTS TC Count       
                                                                                </p>
                                                                                <h4 class="mb-0">{{harmony_count}}</h4>
                                                                        </div>

                                                                        <div class="flex-shrink-0 align-self-center">
                                                                                <div class="avatar-title bg-light rounded-circle text-primary font-size-20">
                                                                                        <i class="bx bxs-book-bookmark f-28"></i>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                        </div><!--end col-->

                                </div><!--end row-->

                                <div class="row">
                                        <div class="col-lg-12">
                                                <figure class="highcharts-figure">
                                                        <div id="bar_chart"></div>
                                                        
                                                </figure>
                                        </div><!--end col-->
                                        
                                    </div><!--end row-->

                        </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
        </div>
</div>

{% endblock %}