<!-- <div class="col-sm-5 mt-1 shadow-lg bg-body rounded section_border">
    <h3 class="ml-3">Logs</h3>
    <div id="log"  class="scroll"></div>
</div> -->

 <!-- ============================================================== -->
            <!-- Start right Content here -->
           
        <label for="check"  class="font-size-16"><i class="fa fa-fw fa-bars"></i></label>
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex flex-wrap alert alert-danger h-50">
                            <h4 class="card-title mb-4">Logs</h4>
                            
                        </div>

                        <div id="log"></div>
                    </div>
                </div>
            </div><!--end col-->
            {% include 'charts.html' %}
        </div><!--end row-->   
    </div>
               
                
          
           