
<table class="table center-aligned-table mb-0 rounded table-responsive-md" id="tc_report">
  

  
  <tbody class="text-center" id="reg_report">
    {% for reg_details in regression_details %}
    <tr class="fs-14">
      <td>{{reg_details[1]}}</td>
      <td>{{reg_details[2]}}</td>
      <td>{{reg_details[3]}}</td>
      <td>{{reg_details[4]}}</td>
      <td>{{reg_details[5]}}</td>
      <td>
        {% if reg_details[7] == 'Completed' %}
          <label class="btn btn-outline-success btn-sm">{{reg_details[7]}}</label>
        {% else %}
        <label class="btn btn-outline-danger btn-sm">In Progress</label>
        {% endif %}
      </td>
      <td>
        <a href="view_tc_logs_details/{{reg_details[0]}}" class="btn btn-outline-warning btn-sm">View TC details</a>
        <span class="btn btn-danger btn-sm  open-ConfirmationDialog"  data-bs-toggle="modal" data-id="{{reg_details[0]}}" data-bs-target="#myModal">Delete</span>
      </td>
      <!-- <td class="td_text_center delete_icon"> 
        
      </td> -->
    </tr>

    
      {% endfor %}
    
    
  </tbody>
</table>
