<div class="sidebar mt-6" id="sidebar">
    <a href="/"><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a>
    <a href="/view_regression_details"><i class="fas fa-tasks me-2"></i> View Regression</a>
    <a href="/tc_execution"><i class="fas fa-chart-line me-2"></i> Execution</a>
    <a href="/devices"><i class="fas fa-cogs me-2"></i> Devices</a>
    <a href="/modules"><i class="fas fa-cogs me-2"></i> Modules</a>
    <a href="/testcase_details"><i class="fas fa-cogs me-2"></i> Testcases</a>
    <a href="/logout"><i class="fas fa-cogs me-2"></i> Logout</a>
    <a href="#"><i class="fas fa-user me-2"></i> Profile</a>
</div>